.transfer-container {
  background-color: white;

  form .form-group .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .submit {
    button {
      width: 200px;
    }
  }
}


