<div class="transfer-container">
  <div class="section-header transfer">{{ 'transfer.header' | translate }}</div>
  <form [formGroup]="transferForm">
    <div class="form-group">
      <label for="from">{{ 'transfer.from' | translate }}:</label>
      <input type="text" class="form-control" formControlName="from" id="from">
    </div>

    <div class="form-group">
      <label for="to">{{ 'transfer.to' | translate }}:</label>
      <input type="text" class="form-control" formControlName="to" id="to">
    </div>

    <div class="form-group">
      <label for="amount">{{ 'transfer.amount' | translate }}:</label>
      <input type="text" class="form-control" formControlName="amount" [placeholder]="!hasAmount() ? '0.00' : ''" id="amount">
    </div>

    <div *ngIf="!isPreview.getValue()" class="submit d-flex justify-content-end">
      <button type="button" class="btn btn-primary" [disabled]="!transferForm.valid" (click)="processTransaction()">{{ 'transfer.submit' | translate }}</button>
    </div>

    <div *ngIf="isPreview.getValue()" class="submit d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="confirmTransaction()">{{ 'transfer.transfer' | translate }}</button>
    </div>
  </form>
</div>

