<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-4">-->
<!--      <app-transfer></app-transfer>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="col-8">&ndash;&gt;-->
<!--&lt;!&ndash;      &ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div class="banking-container">
  <div class="transfer-container">
    <app-transfer></app-transfer>
  </div>

  <div class="transfer-history-container">
    <app-transaction-history></app-transaction-history>
  </div>
</div>
