/* You can add global styles to this file, and also import other style files */
.section-header {
  color: white;
  background-color: #067b9e;
  padding: 10px;
  text-align: center;
  position: relative;
}
